In [2]:
# Necessary Packages to be installed before running the code
# pip install google_spreadsheet
# pip install google-auth-oauthlib
# pip install pandas

### Business Metadata

In [3]:
# Connecting to the google sheet for Business Metadata
import pandas as pd
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow,Flow
from google.auth.transport.requests import Request
import os
import pickle

SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

# Here enter the ID of your Google Sheet
SAMPLE_SPREADSHEET_ID_input = '18YdO9N_KmMV57-l_2utxQ-i5AH2A66XCEnDV1Lyb_zs'
SAMPLE_RANGE_NAME = 'Final!A1:D'

def main():
    global values_input, service
    creds = None
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'class_credentials.json', SCOPES) # here enter the name of your downloaded JSON file
            creds = flow.run_local_server(port=0)
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result_input = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID_input,
                                range=SAMPLE_RANGE_NAME).execute()
    values_input = result_input.get('values', [])

    if not values_input and not values_expansion:
        print('No data found.')

main()

# Creates a dataframe with all the records
df=pd.DataFrame(values_input[1:], columns=values_input[0])

In [4]:
# Displaying the dataframe
df

,DomainName,DBName,BusinessTerm_Name,Term_Description
0,Team1,Weather Database,Event ID,Number assigned per Event occured
1,Team1,Weather Database,Event Type,"Type of the event like rain , snow"
2,Team1,Weather Database,Event Severity,Metrics do describe how severe the event
3,Team1,Weather Database,Event Start Time,Time stamp for date when event has occured
4,Team1,Weather Database,Event End Time,Time stamp for date when event has completed
...,...,...,...,...
161,Team3,projectDB,lat,latitude of the location
162,Team3,projectDB,long,longitude of the location
163,Team3,projectDB,posting_date,date when the craiglist post was made
164,Team3,projectDB,vehicle_id,"unique identifier for node ""vehicle"""
165,Team3,projectDB,condition_id,"unique identifier for node ""condition"""

In [5]:
# Connection for using MSSQL Server
import pyodbc

connection = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER=PV-DESKTOP\SQLSERVERDEV19;DATABASE=Metadata_class_Project;UID=pv2612;PWD=classproject')

In [6]:
# Using cursor to store the result of queries
cursor = connection.cursor()

In [7]:
# Query for Schema Information
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.TABLES")

In [8]:
# Displaying all the tables in the database
for i in cursor:
    print(i)

('Metadata_class_project', 'dbo', 'Domain', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'BusinessTerm', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'Nodes', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'Property', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'Relationship', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'DomBusBrdge', 'BASE TABLE')
('Metadata_class_project', 'dbo', 'BusPropBridge', 'BASE TABLE')

### Domain Table Script

In [28]:
# Creating a dataframe to load domain tabel
df_dom = df[['DBName','DomainName']]
domainList = df_dom.drop_duplicates().reset_index(drop=True)
domainList

                DBName DomainName
0     Weather Database      Team1
1          HotelReview      Team5
2            Commodity      Team6
3      BuildingPermits      Team7
4          USPermVisas      Team8
5              COVID19      Team2
6  Consumer_Complaints      Team4
7            projectDB      Team3

In [29]:
# Truncate Query for Domain Table
cursor.execute("Truncate table Domain")

In [30]:
# Insert Query for Domain Table
query = "Insert into Domain (DBName, DomainName) values(?,?)";
for row in domainList.iterrows():
    val = (row[1][0], row[1][1]);
    cursor.execute(query,val);
connection.commit()

In [31]:
cursor.execute("Select * from Domain");

In [32]:
# Creating Dictionary for Domain Table
domain = {};
for i in cursor:
    print(i[0],i[1]);
    domain[i[0]]=i[1];

BuildingPermits Team7
Commodity Team6
Consumer_Complaints Team4
COVID19 Team2
HotelReview Team5
projectDB Team3
USPermVisas Team8
Weather Database Team1

In [33]:
domain

{'BuildingPermits': 'Team7',
 'Commodity': 'Team6',
 'Consumer_Complaints': 'Team4',
 'COVID19': 'Team2',
 'HotelReview': 'Team5',
 'projectDB': 'Team3',
 'USPermVisas': 'Team8',
 'Weather Database': 'Team1'}

### Creating a Helper Function

In [14]:
# # Helper function to get the key of a dictionary from given value
def get_key(val,dicti):
    for key, value in dicti.items():
         if val == value:
             return key

    return "key doesn't exist"

In [15]:
get_key('Team5',domain)

'HotelReview'

### BusinessTerms Table Script

In [16]:
# Insert Query for BusinessTerm Table
df_bus = df[['BusinessTerm_Name','Term_Description']]
BusList = df_bus.drop_duplicates().reset_index(drop=True)
BusList

    BusinessTerm_Name                              Term_Description
0            Event ID             Number assigned per Event occured
1          Event Type            Type of the event like rain , snow
2      Event Severity     Metrics do describe how severe the event
3    Event Start Time    Time stamp for date when event has occured
4      Event End Time  Time stamp for date when event has completed
..                ...                                           ...
161               lat                      latitude of the location
162              long                     longitude of the location
163      posting_date         date when the craiglist post was made
164        vehicle_id          unique identifier for node "vehicle"
165      condition_id        unique identifier for node "condition"

[166 rows x 2 columns]

In [17]:
# Truncate Query for Domain Table
cursor.execute("Truncate table BusinessTerm")

In [18]:
# Insert Query for BusinessTerm Table
query = "Insert into BusinessTerm (BusType, BusinessDesc) values(?,?)";
for row in BusList.iterrows():
    val = (row[1][0], row[1][1]);
    cursor.execute(query,val);
connection.commit()

In [19]:
# Displaying the values in the BusinessTerm Table
cursor.execute("Select * from BusinessTerm");

In [20]:
# Creating Dictionary for BusinessTerm Table
busterms = {}; #key:bustermId; val:busTerm
for i in cursor:
    print(i[0],i[1],i[2]);
    busterms[i[0]]=(i[2]);

100 Number assigned per Event occured Event ID
101 Type of the event like rain , snow Event Type
102 Metrics do describe how severe the event  Event Severity
103 Time stamp for date when event has occured Event Start Time
104 Time stamp for date when event has completed Event End Time
105 The US-Based time zone based on the location of the event Time-Zone
106 The airport station that a weather event is reported from. Airport Code
107 The latitude in GPS coordinate of airport-based weather station. Latitude Location
108 The longitude in GPS coordinate of airport-based weather station. Longitude Location
109 The cityof airport-based weather station. City
110 The county of airport-based weather station. County
111 The state of airport-based weather station. State
112 The zip code of airport-based weather station. Zip Code
113 The duration in minutes  Duration
114 Address of hotel Hotel_Address
115 There are also some guests who just made a scoring on the service rather than a review. This number indicates how many valid scores without review in there Additional_Number_of_Scoring
116 Average Score of the hotel, calculated based on the latest comment in the last year Average_Score
117 Name of Hotel Hotel_Name
118 Total number of valid reviews the hotel has Total_Number_of_Reviews
119 Latitude of the hotel lat
120 Longtitude of the hotel lng
121 City of hotel according to its address City
122 Country of hotel according to its address Country
123 Date when reviewer posted the corresponding review Review_Date
124 Negative Review the reviewer gave to the hotel. If the reviewer does not give the negative review, then it should be: 'No Negative' Negative_Review
125 Total number of words in the negative review Review_Total_Negative_Word_Counts
126 Positive Review the reviewer gave to the hotel. If the reviewer does not give the negative review, then it should be: 'No Positive' Positive_Review
127 Total number of words in the positive review Review_Total_Positive_Word_Counts
128 Duration between the review date and scrape date days_since_review
129 Nationality of Reviewer Reviewer_Nationality
130 Number of Reviews the reviewers has given in the past Total_Number_of_Reviews_Reviewer_Has_Given
131 Score the reviewer has given to the hotel, based on his/her experience Reviewer_Score
132 Type of the trip selected by the reviewer Type_of_Trip
133 Type of travellers selected by the reviewer Type_of_Travellers
134 Type of the room selected by the reviewer Type_of_Room
135 Duration of reviewer's stay night Duration_of_Stay
136 Is the reviewer with a pet or not? If the reviewer is with a pet, it should be: 'With a pet'; If the reviewer is not with any pet, it should be: 'No' With_Pet
137 Mode the reviewer submits reviews Mode_of_Submission
138 Area or country taking part in exports/imports Country
139 Year in which country exported/imported a given commodity Year
140 Unique identifier for a commodity Commodity Code
141 Commodity/Item being exported/imported by a country Commodity
142 Flow of trade i.e. Export, Import Flow
143 Value of the trade in US Dollars Trade Value
144 Weight of the commodity in Kilograms Weight
145 A description of the quantity measurement type given the type of item (i.e. Number of Items, Weight in KG) Quantity Name
146 Count of the quantity of a given item based on the Quantity Name Quantity
147 Category to identify commodity Category
148 Number assigned while filing Permit Number
149 Type of the permit represented numerically Permit Type
150 Description of the Permit type, for example new construction, alterations Permit Type Definition
151 Date on which permit created, later than or same as filing date Permit Creation Date
152 Block address of a building Block
153 Lot address of a building Lot
154 Street number of building Street Number
155 Suffix for street number Street Number Suffix
156 Name of the street Street Name
157 Suffix for the street name Street Name Suffix
158 Unit of a building Unit
159 Suffix if any, for the unit Unit suffix
160 Details about purpose of the permit. Example: reroofing, bathroom renovation Description
161 Current status of the permit application Current Status
162 Date at which current status was entered Current Status Date
163 Filed date for the permit Filed Date
164 Issued date for the permit Issued Date
165 The date on which project was completed, applicable if Current Status = “completed” Completed Date
166 Date on which construction was documented First Construction Document Date
167 Notification to meet some legal need, given or not Structural Notification
168 Number of existing stories in the building. Not applicable for certain permit types Number of Existing Stories
169 Number of proposed stories for the construction/alteration Number of Proposed Stories
170 Soft story to meet earth quake regulations Voluntary Soft-Story Retrofit
171 Fire hazard prevention related permit Fire Only Permit
172 Expiration date related to issued permit Permit Expiration Date
173 Initial estimation of the cost of the project Estimated Cost
174 Revised estimation of the cost of the project Revised Cost
175 Existing use of the building Existing Use
176 Existing number of units Existing Units
177 Proposed use of the building Proposed Use
178 Proposed number of units Proposed Units
179 Plan representation indicating the general design intent of the foundation Plansets
180 TIDF compliant or not, this is a new legal requirement TIDF Compliance
181 Construction type, existing,as categories represented numerically Existing Construction Type
182 Description of the construction type, for example, wood or other construction types Existing Construction Type Description
183 Construction type, proposed, as categories represented numerically Proposed Construction Type
184 Description of the proposed construction type Proposed Construction Type Description
185 Permit for site Site Permit
186 Supervisor District to which the building location belongs to Supervisor District
187 Neighborhood to which the building location belongs to Neighborhoods - Analysis Boundaries
188 Zipcode of building address Zipcode
189 Location in latitude, longitude pair Location
190 Some ID, for unique identification Record ID
191 Unique Id for identifying a building property PropId
192 Unique identifier assigned to each application submitted for processing  Case Number
193 Year during which the application was submitted for processing Application Year
194 Month during which the application was submitted for processing Application Month
195 Day during which the application was submitted for processing Application Day
196 Status associated with the last significant event or decision. Example: Apprpoved or Denied Application Decision
197 Country of citizenship of the foreign worker being sponsored Country Of Citizenship
198 Derived Column showing Latitude Coordinates for each country Country Latitude
199 Derived Column showing Longitude Coordinates for each country Country Longitude
200 Class of immigration visa the foreign worker held. Example: F1, H1-B Visa Type
201 Standard Occupational code associated with the job being requested for permanent labor certification SOC Code
202 Standard Occupational Code Title of the permanent job. SOC Title
203 City in which the foreign worker is expected to be employed Job City
204 State in which the foreign worker is expected to be employed Job State
205 Name of employer requesting permanent labor certification Employer Name
206 Address information of the employer requesting permanent labor certification. Employer Address
207 City name of the employer requesting permanent labor certification. Employer City
208 State name of the employer requesting permanent labor certification. Employer State
209 Postal Code of the employer requesting permanent labor certification. Employer Postal Code
210 Prevailing wage for the job being requested for permanent labor certification Wage Amount
211 Level of the prevailing wage determination.  Valid values include “Level I,” “Level II,” “Level III,” and “Level IV” Wage Level
212 Derived Column where Wage Amount is split into different Ranges Wage Range
213 Industry title associated with the North American Industrial Classification System (NAICS) code Job Title
214 Major economic sector associated with the NAICS code of the employer.  Job Sector
215 Unique number that identifies each row  Serial Number
216 The date when the entry was first made Date of Observation
217 State/Province where that entry belongs to Province or State
218 Country/Region that the entry belongs to Country or Region
219 The last date & time when the entries were updated Last Update Date
220 Number of confirmed covid-19 cases Number of Confirmed
221 Number of deaths related to covid-19 case in that state Number of Deaths
222 Number of people that recovered of covid-19 Number of Recovered
223 Year when the entry was first made Year of Observation
224 Month when the entry was first made Month of Observation
225 Year when the entries was last updated Year of Last Update
226 Month when the entries was last updated Month of Last Update
227 Unique ID to identify each country in the dataset Country ID number
228 Unique ID to identify each Province/State in the dataset Province ID number
229 Number generated uniquely for each complaint filed Complaint Number
230 Date on which the complaint was received before sending it to the respective company Complaint Date
231 The company addressing the complaint Company Name
232 Response given by the company to the customer Response
233 The financial service that the customer had complaint for Product
234 The specific financial service under product Sub-Product
235 The State where the complaint was filed State
236 The zip code where the complaint was filed. Basically more specific location of the complaint Zip Code
237 Problem that the customer was facing in vague terms Issue
238 Problem faced by customer but more exact with respect to the issue Sub-Issue
239 column number Unnamed : 0
240 craiglist data entry ID listing_id
241 post listing url link url
242 craiglist post region region
243 region url region_url
244 entry price of the vehicle listed on craiglist price
245 year the vehicle was manufactured in year

246 manufacturing company of the vehicle manufacturer
247 model name model
248 condition of the vehicle condition
249 number of cylinders cylinders
250 type of fuel the vehicle runs on fuel
251 kilometers the vehicle has been driven odometer
252 condition of vehicle in terms of quality title_status
253 gear transmission used by the vehicle transmission
254 vehicle identity number VIN
255 type of drive the vehicle possess drive
256 size of the vehicle size
257 category of the vehicle model type
258 paint color on the vehicle paint_color
259 link to vehicle's image image_url
260 state where the craiglist post was made state
261 latitude of the location lat
262 longitude of the location long
263 date when the craiglist post was made posting_date
264 unique identifier for node "vehicle" vehicle_id
265 unique identifier for node "condition" condition_id

In [21]:
get_key('Event ID',busterms)

100

### DomainTermsRelationship Table Script

In [22]:
# Truncate Query for DomBusBrdge Table
cursor.execute("Truncate table DomBusBrdge")

In [23]:
# Insert Query for DomBusBrdge Table
query = "Insert into DomBusBrdge (DBName, BusinessId) values(?,?)";
for row in df.iterrows():
    domainName = row[1][0]
    busTermName = row[1][2]
    domId = get_key(domainName,domain)
    busId = get_key(busTermName,busterms)
    val = (domId,busId)
    cursor.execute(query,val)
connection.commit()

In [24]:
# Displaying the values in the DomBusBrdge Table
cursor.execute("Select * from DomBusBrdge");

In [25]:
# Values in Domain BusinessTerm Bridge Table 
for i in cursor:
    print(i)

('BuildingPermits', 148)
('BuildingPermits', 149)
('BuildingPermits', 150)
('BuildingPermits', 151)
('BuildingPermits', 152)
('BuildingPermits', 153)
('BuildingPermits', 154)
('BuildingPermits', 155)
('BuildingPermits', 156)
('BuildingPermits', 157)
('BuildingPermits', 158)
('BuildingPermits', 159)
('BuildingPermits', 160)
('BuildingPermits', 161)
('BuildingPermits', 162)
('BuildingPermits', 163)
('BuildingPermits', 164)
('BuildingPermits', 165)
('BuildingPermits', 166)
('BuildingPermits', 167)
('BuildingPermits', 168)
('BuildingPermits', 169)
('BuildingPermits', 170)
('BuildingPermits', 171)
('BuildingPermits', 172)
('BuildingPermits', 173)
('BuildingPermits', 174)
('BuildingPermits', 175)
('BuildingPermits', 176)
('BuildingPermits', 177)
('BuildingPermits', 178)
('BuildingPermits', 179)
('BuildingPermits', 180)
('BuildingPermits', 181)
('BuildingPermits', 182)
('BuildingPermits', 183)
('BuildingPermits', 184)
('BuildingPermits', 185)
('BuildingPermits', 186)
('BuildingPermits', 187)
('BuildingPermits', 188)
('BuildingPermits', 189)
('BuildingPermits', 190)
('BuildingPermits', 191)
('Commodity', 122)
('Commodity', 139)
('Commodity', 140)
('Commodity', 141)
('Commodity', 142)
('Commodity', 143)
('Commodity', 144)
('Commodity', 145)
('Commodity', 146)
('Commodity', 147)
('Consumer_Complaints', 111)
('Consumer_Complaints', 112)
('Consumer_Complaints', 229)
('Consumer_Complaints', 230)
('Consumer_Complaints', 231)
('Consumer_Complaints', 232)
('Consumer_Complaints', 233)
('Consumer_Complaints', 234)
('Consumer_Complaints', 237)
('Consumer_Complaints', 238)
('COVID19', 215)
('COVID19', 216)
('COVID19', 217)
('COVID19', 218)
('COVID19', 219)
('COVID19', 220)
('COVID19', 221)
('COVID19', 222)
('COVID19', 223)
('COVID19', 224)
('COVID19', 225)
('COVID19', 226)
('COVID19', 227)
('COVID19', 228)
('HotelReview', 109)
('HotelReview', 114)
('HotelReview', 115)
('HotelReview', 116)
('HotelReview', 117)
('HotelReview', 118)
('HotelReview', 119)
('HotelReview', 120)
('HotelReview', 122)
('HotelReview', 123)
('HotelReview', 124)
('HotelReview', 125)
('HotelReview', 126)
('HotelReview', 127)
('HotelReview', 128)
('HotelReview', 129)
('HotelReview', 130)
('HotelReview', 131)
('HotelReview', 132)
('HotelReview', 133)
('HotelReview', 134)
('HotelReview', 135)
('HotelReview', 136)
('HotelReview', 137)
('projectDB', 119)
('projectDB', 239)
('projectDB', 240)
('projectDB', 241)
('projectDB', 242)
('projectDB', 243)
('projectDB', 244)
('projectDB', 245)
('projectDB', 246)
('projectDB', 247)
('projectDB', 248)
('projectDB', 249)
('projectDB', 250)
('projectDB', 251)
('projectDB', 252)
('projectDB', 253)
('projectDB', 254)
('projectDB', 255)
('projectDB', 256)
('projectDB', 257)
('projectDB', 258)
('projectDB', 259)
('projectDB', 260)
('projectDB', 262)
('projectDB', 263)
('projectDB', 264)
('projectDB', 265)
('USPermVisas', 192)
('USPermVisas', 193)
('USPermVisas', 194)
('USPermVisas', 195)
('USPermVisas', 196)
('USPermVisas', 197)
('USPermVisas', 198)
('USPermVisas', 199)
('USPermVisas', 200)
('USPermVisas', 201)
('USPermVisas', 202)
('USPermVisas', 203)
('USPermVisas', 204)
('USPermVisas', 205)
('USPermVisas', 206)
('USPermVisas', 207)
('USPermVisas', 208)
('USPermVisas', 209)
('USPermVisas', 210)
('USPermVisas', 211)
('USPermVisas', 212)
('USPermVisas', 213)
('USPermVisas', 214)
('Weather Database', 100)
('Weather Database', 101)
('Weather Database', 102)
('Weather Database', 103)
('Weather Database', 104)
('Weather Database', 105)
('Weather Database', 106)
('Weather Database', 107)
('Weather Database', 108)
('Weather Database', 109)
('Weather Database', 110)
('Weather Database', 111)
('Weather Database', 112)
('Weather Database', 113)

### Technical Metadata

In [26]:
# Packages needed to read Google sheet
import pandas as pd
import pygsheets
import py2neo
from pandas import DataFrame
from py2neo import Graph

In [27]:
# Openning Google Sheet for Technical Metadata
gc = pygsheets.authorize(service_file='service_account_1.json')
sh = gc.open('csye7250-metadata')

In [28]:
# Create an initial dataframe with google sheet1
df = sh[1]
df = DataFrame(df)
df = df.iloc[:,0:10]
df.columns = df.iloc[0]
df = df[1:]

# Append all the remaining sheets data to df dataframe
for i in range (2,9):
    df1 = sh[i]
    df1 = DataFrame(df1)
    df1 = df1.iloc[:,0:10]
    df1.columns = df1.iloc[0]
    df1 = df1[1:]
    if df1.empty == False:
        df = df.append(df1, ignore_index = True)

In [29]:
#df has data from all teams converted into a dataframe
df

,counts,label,property,type,isIndexed,uniqueConstraint,existenceConstraint,team,dbName,relationships
0,6274206,EVENT,StartTime,DATE_TIME,FALSE,FALSE,FALSE,1,Weather Database,"COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O..."
1,6274206,EVENT,TimeZone,STRING,FALSE,FALSE,FALSE,1,Weather Database,"COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O..."
2,6274206,EVENT,Duration,INTEGER,FALSE,FALSE,FALSE,1,Weather Database,"COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O..."
3,6274206,EVENT,Id,STRING,TRUE,TRUE,FALSE,1,Weather Database,"COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O..."
4,6274206,EVENT,EndTime,DATE_TIME,FALSE,FALSE,FALSE,1,Weather Database,"COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O..."
...,...,...,...,...,...,...,...,...,...,...
1130,6833,City,name,STRING,TRUE,TRUE,FALSE,8,USPermVisas,"Location,Of"
1131,58,State,name,STRING,TRUE,TRUE,FALSE,8,USPermVisas,"Location,Of"
1132,10,Wage,range,STRING,TRUE,TRUE,FALSE,8,USPermVisas,Has
1133,10,Wage,level,STRING,FALSE,FALSE,FALSE,8,USPermVisas,Has
1134,18,Sector,name,STRING,TRUE,TRUE,FALSE,8,USPermVisas,In

### Nodes Table Script

In [30]:
# Get only the needed columns from complete data for nodes table and take unique combinations of them
df_node = df[['counts','label','dbName']]
nodeList = df_node.drop_duplicates().reset_index(drop=True)
nodeList

0    counts             label               dbName
0   6274206             EVENT     Weather Database
1         7              TYPE     Weather Database
2         6          SEVERITY     Weather Database
3      2071           AIRPORT     Weather Database
4      1715              CITY     Weather Database
5        48             STATE     Weather Database
6      2021           ZIPCODE     Weather Database
7      1100            COUNTY     Weather Database
8       224           Country              COVID19
9       966          Province              COVID19
10      403              Date              COVID19
11   236017   InfectionStatus              COVID19
12   670598         Complaint  Consumer_Complaints
13     3933           Company  Consumer_Complaints
14        8          Response  Consumer_Complaints
15       12           Product  Consumer_Complaints
16       48        SubProduct  Consumer_Complaints
17       63             State  Consumer_Complaints
18    27760           Zipcode  Consumer_Complaints
19       95             Issue  Consumer_Complaints
20       69          SubIssue  Consumer_Complaints
21      300            Region            projectDB
22   458213           Listing            projectDB
23   458213           Vehicle            projectDB
24       44      Manufacturer            projectDB
25      300             Model            projectDB
26       14            V_Type            projectDB
27   458213       V_Condition            projectDB
28
29     1493             Hotel          HotelReview
30   515738          Reviewer          HotelReview
31      227           Country          HotelReview
32      731              Date          HotelReview
33    55242              Trip          HotelReview
34  8225871         Commodity            Commodity
35       98          Category            Commodity
36      209           Country            Commodity
37        4              Flow            Commodity
38       29              Year            Commodity
39   198900      PermitRecord      BuildingPermits
40        8        PermitType      BuildingPermits
41    81881  BuildingProperty      BuildingPermits
42       14     CurrentStatus      BuildingPermits
43        9           PlanSet      BuildingPermits
44        2        SitePermit      BuildingPermits
45        2        FirePermit      BuildingPermits
46        2          Retrofit      BuildingPermits
47        2        StrucNotif      BuildingPermits
48        3          TidfComp      BuildingPermits
49   373025              Case          USPermVisas
50      203           Country          USPermVisas
51        3          Decision          USPermVisas
52       58              Type          USPermVisas
53     1368               SOC          USPermVisas
54    70846          Employer          USPermVisas
55    45754               Job          USPermVisas
56     6833              City          USPermVisas
57       58             State          USPermVisas
58       10              Wage          USPermVisas
59       18            Sector          USPermVisas

In [31]:
# Truncate Query for Nodes Table
cursor.execute("Truncate table Nodes")

In [32]:
# Query for Nodes table
query = "Insert into Nodes (Label, Counts, DBName) values(?,?,?)";
for row in nodeList.iterrows():
    val = (row[1][1], row[1][0], row[1][2]);
    cursor.execute(query,val);
connection.commit()

In [33]:
# Displaying values in the Nodes table
cursor.execute("select * from Nodes");

In [34]:
# Putting Node data in a dictionary (nodeId : Label) as key:val pairs
nodeDict = {};
for i in cursor:
    nodeDict[i[0]]=(i[1]);

In [35]:
nodeDict

{1: 'EVENT',
 2: 'TYPE',
 3: 'SEVERITY',
 4: 'AIRPORT',
 5: 'CITY',
 6: 'STATE',
 7: 'ZIPCODE',
 8: 'COUNTY',
 9: 'Country',
 10: 'Province',
 11: 'Date',
 12: 'InfectionStatus',
 13: 'Complaint',
 14: 'Company',
 15: 'Response',
 16: 'Product',
 17: 'SubProduct',
 18: 'State',
 19: 'Zipcode',
 20: 'Issue',
 21: 'SubIssue',
 22: 'Region',
 23: 'Listing',
 24: 'Vehicle',
 25: 'Manufacturer',
 26: 'Model',
 27: 'V_Type',
 28: 'V_Condition',
 29: '',
 30: 'Hotel',
 31: 'Reviewer',
 32: 'Country',
 33: 'Date',
 34: 'Trip',
 35: 'Commodity',
 36: 'Category',
 37: 'Country',
 38: 'Flow',
 39: 'Year',
 40: 'PermitRecord',
 41: 'PermitType',
 42: 'BuildingProperty',
 43: 'CurrentStatus',
 44: 'PlanSet',
 45: 'SitePermit',
 46: 'FirePermit',
 47: 'Retrofit',
 48: 'StrucNotif',
 49: 'TidfComp',
 50: 'Case',
 51: 'Country',
 52: 'Decision',
 53: 'Type',
 54: 'SOC',
 55: 'Employer',
 56: 'Job',
 57: 'City',
 58: 'State',
 59: 'Wage',
 60: 'Sector'}

### Creating a helper function

In [36]:
# # Helper function to get the key of a dictionary from given value
# def get_key(val,dicti):
#     for key, value in dicti.items():
#          if val == value:
#              return key
 
#     return "key doesn't exist"

### Property Table Script

In [37]:
# Get only the needed columns from complete data for property table and take unique combinations of them
df_prop = df[['property','uniqueConstraint','existenceConstraint','label']]
propList = df_prop.drop_duplicates().reset_index(drop=True)
propList

0     property uniqueConstraint existenceConstraint   label
0    StartTime            FALSE               FALSE   EVENT
1     TimeZone            FALSE               FALSE   EVENT
2     Duration            FALSE               FALSE   EVENT
3           Id             TRUE               FALSE   EVENT
4      EndTime            FALSE               FALSE   EVENT
..         ...              ...                 ...     ...
158       name             TRUE               FALSE    City
159       name             TRUE               FALSE   State
160      range             TRUE               FALSE    Wage
161      level            FALSE               FALSE    Wage
162       name             TRUE               FALSE  Sector

[163 rows x 4 columns]

In [38]:
# Truncate Query for Property Table
cursor.execute("Truncate table Property")

In [39]:
# Query for Property table
query = "Insert into Property (TechTerm, UniqueConstraints, ExistingConstraints, NodeId) values(?,?,?,?)";
for row in propList.iterrows():
    val = (row[1][0], row[1][1], row[1][2], get_key(row[1][3], nodeDict));
    cursor.execute(query,val);
connection.commit()

In [40]:
# Displaying the values in Property Table
cursor.execute("select * from Property");

In [41]:
# put property data in a dictionary (PropertyId : TechTerm) as key:val pairs
propDict = {};
for i in cursor:
    propDict[i[0]]=(i[1]);

In [42]:
propDict

{10: 'StartTime',
 11: 'TimeZone',
 12: 'Duration',
 13: 'Id',
 14: 'EndTime',
 15: 'Name',
 16: 'Name',
 17: 'AirportCode',
 18: 'LocationLng',
 19: 'LocationLat',
 20: 'Name',
 21: 'Name',
 22: 'ZipCode',
 23: 'Name',
 24: 'CountryId',
 25: 'CountryName',
 26: 'ProvinceName',
 27: 'ProvinceId',
 28: 'ObservationMonth',
 29: 'ObservationYear',
 30: 'ObservationDate',
 31: 'UpdateTimeYear',
 32: 'UpdateTimeMonth',
 33: 'UpdateTime',
 34: 'Recovered',
 35: 'EnteryId',
 36: 'Deaths',
 37: 'Confirmed',
 38: 'ComplaintId',
 39: 'DateReceived',
 40: 'name',
 41: 'companyResponse',
 42: 'ProductName',
 43: 'SubProductName',
 44: 'StateName',
 45: 'ZipId',
 46: 'IssueName',
 47: 'SubIssueName',
 48: 'regionName',
 49: 'region_url',
 50: 'state',
 51: 'listing_id',
 52: 'URL',
 53: 'posting_date',
 54: 'price',
 55: 'image_url',
 56: 'lat',
 57: 'long',
 58: 'vehicle_id',
 59: 'paint_color',
 60: 'VIN',
 61: 'manufacturerName',
 62: 'modelName',
 63: 'year',
 64: 'fuel',
 65: 'drive',
 66: 'transmission',
 67: 'no_of_cylinders',
 68: 'type',
 69: 'size',
 70: 'condition_id',
 71: 'odometer',
 72: 'condition',
 73: 'title_status',
 74: '',
 75: 'Total_Reviews',
 76: 'Additional_Number_of_Scoring',
 77: 'HotelID',
 78: 'lng',
 79: 'Country',
 80: 'Hotel_Name',
 81: 'City',
 82: 'lat',
 83: 'Average_Score',
 84: 'Positive_Review',
 85: 'ReviewerID',
 86: 'Days_Since_Review',
 87: 'Reviewer_Score',
 88: 'Negative_Review',
 89: 'Number_Of_reviews_submitted',
 90: 'CountryID',
 91: 'Reviewer_Nationality',
 92: 'Review_Date',
 93: 'With_Pet',
 94: 'TripID',
 95: 'Reviewer_Score',
 96: 'Mode_of_Submission',
 97: 'CommodityCode',
 98: 'Quantity',
 99: 'QuantityName',
 100: 'TradeValue',
 101: 'id',
 102: 'Weight',
 103: 'CommodityName',
 104: 'category',
 105: 'country',
 106: 'flow',
 107: 'year',
 108: 'NoOfProposedStories',
 109: 'Description',
 110: 'ProposedConstTypeDesc',
 111: 'ExistingConstType',
 112: 'PermitNumber',
 113: 'PermitExpirationDate',
 114: 'ExistingConstTypeDesc',
 115: 'EstimatedCost',
 116: 'ProposedConstType',
 117: 'ProposedUse',
 118: 'CurrentStatusDate',
 119: 'ProposedUnits',
 120: 'CompletedDate',
 121: 'RevisedCost',
 122: 'PermitRecordId',
 123: 'NoOfExistingStories',
 124: 'IssuedDate',
 125: 'FirstConstructionDocDate',
 126: 'ExistingUnits',
 127: 'PermitCreationDate',
 128: 'ExistingUse',
 129: 'FiledDate',
 130: 'PermitTypeDesc',
 131: 'PermitTypeNum',
 132: 'PropId',
 133: 'StreetName',
 134: 'SupervisorDistrict',
 135: 'Neighbourhoods',
 136: 'Unit',
 137: 'UnitSuffix',
 138: 'StreetSuffix',
 139: 'Lot',
 140: 'Zipcode',
 141: 'StreetNumber',
 142: 'Block',
 143: 'StreetNumberSuffix',
 144: 'Location',
 145: 'CurStatus',
 146: 'PlanSetNum',
 147: 'SitePermitCond',
 148: 'FirePermitCond',
 149: 'RetrofitCond',
 150: 'StrucNotifCond',
 151: 'TidfCompCond',
 152: 'case_no',
 153: 'month',
 154: 'salary',
 155: 'day',
 156: 'year',
 157: 'name',
 158: 'status',
 159: 'name',
 160: 'title',
 161: 'code',
 162: 'name',
 163: 'address',
 164: 'state',
 165: 'postal_code',
 166: 'city',
 167: 'title',
 168: 'name',
 169: 'name',
 170: 'range',
 171: 'level',
 172: 'name'}

### Relationship Table Script

In [43]:
# Creating a dataframe to load Relationship tabel
df_rel = df[['label','relationships']]
relList = df_rel.drop_duplicates().reset_index(drop=True)
relList

0      label                                      relationships
0      EVENT  COUNTY_OF,IS_OF,WITH,SENSOR_AT,CITY_OF,STATE_O...
1       TYPE                                              IS_OF
2   SEVERITY                                               WITH
3    AIRPORT                                       SENSOR_AT,AT
4       CITY                                      CITY_OF,IN,AT
..       ...                                                ...
56       Job                                             In,For
57      City                                        Location,Of
58     State                                        Location,Of
59      Wage                                                Has
60    Sector                                                 In

[61 rows x 2 columns]

In [44]:
# Truncate Query for Property Table
cursor.execute("Truncate table Relationship")

In [45]:
relList.relationships = relList.relationships.str.split(',')
relList = relList.explode('relationships').reset_index(drop=True)
relList = relList.drop_duplicates().reset_index(drop=True)
relList

0     label relationships
0     EVENT     COUNTY_OF
1     EVENT         IS_OF
2     EVENT          WITH
3     EVENT     SENSOR_AT
4     EVENT       CITY_OF
..      ...           ...
124    City            Of
125   State      Location
126   State            Of
127    Wage           Has
128  Sector            In

[129 rows x 2 columns]

In [46]:
# Query for Relationship table
query = "Insert into Relationship (RelDesc, NodeId) values(?,?)";
for row in relList.iterrows():
    val = (row[1][1], get_key(row[1][0], nodeDict));
    cursor.execute(query,val);
connection.commit()

In [47]:
# Displaying values in Relationship Tables
cursor.execute("select * from Relationship");

In [48]:
for i in cursor:
    print(i)

(200, 'COUNTY_OF', 1)
(201, 'IS_OF', 1)
(202, 'WITH', 1)
(203, 'SENSOR_AT', 1)
(204, 'CITY_OF', 1)
(205, 'STATE_OF', 1)
(206, 'ZIPCODE_OF', 1)
(207, 'IS_OF', 2)
(208, 'WITH', 3)
(209, 'SENSOR_AT', 4)
(210, 'AT', 4)
(211, 'CITY_OF', 5)
(212, 'IN', 5)
(213, 'AT', 5)
(214, 'STATE_OF', 6)
(215, 'IN', 6)
(216, 'HAS', 6)
(217, 'ZIPCODE_OF', 7)
(218, 'HAS', 7)
(219, 'LOCATION', 7)
(220, 'COUNTY_OF', 8)
(221, 'LOCATION', 8)
(222, 'HAS', 9)
(223, 'BE_OBSERVED', 9)
(224, 'HAS', 10)
(225, 'BE_OBSERVED', 10)
(226, 'DEFINED', 10)
(227, 'BE_OBSERVED', 11)
(228, 'DEFINED', 11)
(229, 'DEFINED', 12)
(230, 'WITH', 13)
(231, 'AGAINST', 13)
(232, 'ORIGINATED_FROM', 13)
(233, 'ABOUT', 13)
(234, 'AGAINST', 14)
(235, 'FROM', 14)
(236, 'FROM', 15)
(237, 'ABOUT', 16)
(238, 'CONTAINS', 16)
(239, 'ABOUT', 17)
(240, 'CONTAINS', 17)
(241, 'ORIGINATED_FROM', 18)
(242, 'FALLS_UNDER', 18)
(243, 'FALLS_UNDER', 19)
(244, 'ORIGINATED_FROM', 19)
(245, 'WITH', 20)
(246, 'IN_CATEGORY', 20)
(247, 'WITH', 21)
(248, 'IN_CATEGORY', 21)
(249, 'INCLUDES', 22)
(250, ' BELONGS_TO', 22)
(251, 'DISPLAYS_A', 23)
(252, ' BELONGS_TO', 23)
(253, ' INCLUDES', 23)
(254, 'MANUFACTURED_BY', 24)
(255, ' DISPLAYS_A', 24)
(256, ' MANUFACTURED', 24)
(257, ' IS_A', 24)
(258, ' SHOWCASES', 24)
(259, ' DESCRIBES_STATE_OF', 24)
(260, 'MANUFACTURED_BY', 25)
(261, ' MANUFACTURED. CREATED', 25)
(262, ' HAS_TYPES_OF', 25)
(263, 'CREATED', 26)
(264, 'HAS_TYPES_OF', 27)
(265, ' IS_A', 27)
(266, 'SHOWCASES', 28)
(267, ' DESCRIBES_STATE_OF', 28)
(268, '', 29)
(269, 'DISPLAYS_A', 29)
(270, ' BELONGS_TO', 29)
(271, ' INCLUDES', 29)
(272, 'Is_ReviewedBy', 30)
(273, 'Has_Made', 31)
(274, 'Is_ReviewedBy', 31)
(275, 'Belongs_To', 31)
(276, 'Has_Reviewed_On', 31)
(277, 'Belongs_To', 9)
(278, 'Has_Reviewed_On', 11)
(279, 'Has_Made', 34)
(280, 'TRADES_IN', 35)
(281, 'TRADES', 35)
(282, 'EXPORTS_IMPORTS_CAT', 36)
(283, 'CONSISTS_OF', 36)
(284, 'HAS_CATEGORIES', 36)
(285, 'TRADES_IN', 36)
(286, 'REPORTS', 9)
(287, 'EXPORTS_IMPORTS_CAT', 9)
(288, 'HAS_TYPE', 38)
(289, 'HAS_CATEGORIES', 38)
(290, 'TRADES', 38)
(291, 'REPORTS', 39)
(292, 'CONSISTS_OF', 39)
(293, 'HAS_TYPE', 39)
(294, 'HAS', 40)
(295, 'IS_OF', 40)
(296, 'FOR', 40)
(297, 'IS_CURRENTLY', 40)
(298, 'REPRESENTING', 40)
(299, 'IS_OF', 41)
(300, 'FOR', 42)
(301, 'IS_CURRENTLY', 43)
(302, 'REPRESENTING', 44)
(303, 'HAS', 45)
(304, 'HAS', 46)
(305, 'HAS', 47)
(306, 'HAS', 48)
(307, 'HAS', 49)
(308, 'Has', 50)
(309, 'Citizenship', 50)
(310, 'To', 50)
(311, 'Is', 50)
(312, 'Occupation', 50)
(313, 'Sponsor', 50)
(314, 'For', 50)
(315, 'Location', 50)
(316, 'Citizenship', 9)
(317, 'To', 52)
(318, 'Is', 53)
(319, 'Occupation', 54)
(320, 'Sponsor', 55)
(321, 'In', 56)
(322, 'For', 56)
(323, 'Location', 57)
(324, 'Of', 57)
(325, 'Location', 18)
(326, 'Of', 18)
(327, 'Has', 59)
(328, 'In', 60)